
{% block searchBlock %}
    <h1>SEARCH Contact</h1>
    <form action="" method="get">
        <p>이름을 입력하시오</p>
        <input type="text" name="name">
        <input type="submit" value="search">
    </form>
{% endblock searchBlock %}

{% block content %}
    <table style="border:1px solid black;">
        <tr style="border:1px solid black;">
            <th style="border:1px solid black;">NAME</th>
            <th style="border:1px solid black;">E-MAIL</th> 
            <th style="border:1px solid black;">PHONE NUM</th>
        </tr>
        {% for contact in contacts %}
        <tr style="border:1px solid black;">
            <th style="border:1px solid black;">{{ contact.name }}</th>
            <th style="border:1px solid black;">{{ contact.e_mail }}</th>
            <th style="border:1px solid black;">{{ contact.phone_number }}</th>
        </tr>
        {% endfor %}
    </table>
{% endblock content %}